<div *ngIf="isLoadingResults" class="loading-shade">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div>
  <button mat-raised-button color="primary" (click)="onRefresh()">Refresh</button>
  <button mat-raised-button (click)="onAdd()">Add</button>
  <button mat-raised-button color="warn" [disabled]="selection.isEmpty()" (click)="onDelete()">Delete selected</button>
</div>

<table mat-table [dataSource]="rows$" class="mat-elevation-z8">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let job">{{job.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let job">{{job.name}}</td>
  </ng-container>

  <!-- Cron Column -->
  <ng-container matColumnDef="cron">
    <th mat-header-cell *matHeaderCellDef>Cron</th>
    <td mat-cell *matCellDef="let job">{{job.cron}}</td>
  </ng-container>

  <!-- Cron Column -->
  <ng-container matColumnDef="operations">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let job">
      <button mat-icon-button color="primary" (click)="onEdit(job)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(job)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
